<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>stichwort.com</title>
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="icon" href="../../images/favicon.ico">
</head>
<body>
<header class="main-header">
    <div class="container header-container">
        <div class="logo">stichwort.com</div>
        <nav class="navigation">
            <form class="search-form" action="#" method="get">
                <label class="visually-hidden" for="search-field">Поиск по сайту</label>
                <input class="search" id="search-field" type="search" name="page-search" placeholder="Поиск">
                <svg class="search-icon" aria-label="Лупа" aria-hidden="true" focusable="false"
                     width="25" height="25" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.745 2.5c-3.876 0-7.032 3.156-7.032 7.031 0 1.654.599
                    3.162 1.563 4.364L2.5 21.671l1.099 1.111L11.38 15c1.202.964 2.71 1.563 4.364 1.563 3.875 0 7.03-3.156
                    7.03-7.032 0-3.875-3.155-7.031-7.03-7.031Zm0 1.563a5.46 5.46 0 0 1 5.468 5.468A5.46 5.46 0 0 1 15.745
                    15a5.46 5.46 0 0 1-5.47-5.469 5.46 5.46 0 0 1 5.47-5.469Z"/>
                </svg>
                <button class="search-button" type="submit">Найти</button>
            </form>
            <ul class="list navigation-list">
                <li class="navigation-item">
                    <a class="link navigation-link" href="../../index.html">Homepage</a>
                </li>
                <li class="navigation-item">
                    <a class="link navigation-link open-sublist" href="../theory/theory_verbforms.html">
                        Lehre
                        <svg class="dropdown" aria-label="" aria-hidden="true" focusable="false"
                             width="11" height="6" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="m6.09 5.78 4.69-4.47c.3-.3.3-.79 0-1.09-.3-.3-.8-.3-1.1 0L5.48 4.2
                                  1.3.22C1-.08.5-.08.2.22c-.1.2-.2.4-.2.6 0 .2.1.4.2.5l4.69 4.46c.4.3.8.3 1.2 0Z"/>
                        </svg>
                    </a>
                    <ul class="list navigation-sublist">
                        <li class="navigation-subitem">
                            <a class="link navigation-link" href="../theory/theory_verbforms.html">Die Hauptformen des Verb</a>
                        </li>
                        <li class="navigation-subitem">
                            <a class="link navigation-link" href="../theory/theory_simplepast.html">Präteritum</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a class="link navigation-link open-sublist" href="../exercises/exercises.html">
                        Übungen
                        <svg class="dropdown" aria-label="" aria-hidden="true" focusable="false"
                             width="11" height="6" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="m6.09 5.78 4.69-4.47c.3-.3.3-.79 0-1.09-.3-.3-.8-.3-1.1 0L5.48 4.2
                                  1.3.22C1-.08.5-.08.2.22c-.1.2-.2.4-.2.6 0 .2.1.4.2.5l4.69 4.46c.4.3.8.3 1.2 0Z"/>
                        </svg>
                    </a>
                    <ul class="list navigation-sublist">
                        <li class="navigation-subitem">
                            <a class="link navigation-link" href="../exercises/exercises_perfect.html">Die Hauptformen des Verb</a>
                        </li>
                        <li class="navigation-subitem">
                            <a class="link navigation-link" href="../exercises/exercises_simplepast.html">Präteritum</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation-item">
                    <a class="link navigation-link open-sublist" href="/culture.html">
                        <span class="visually-hidden">Культура</span>
                        <span class="lamp"></span>
                        <svg class="dropdown" aria-label="Стрелочка вниз" aria-hidden="true" focusable="false"
                             width="11" height="6" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="m6.09 5.78 4.69-4.47c.3-.3.3-.79 0-1.09-.3-.3-.8-.3-1.1 0L5.48 4.2
                                  1.3.22C1-.08.5-.08.2.22c-.1.2-.2.4-.2.6 0 .2.1.4.2.5l4.69 4.46c.4.3.8.3 1.2 0Z"/>
                        </svg>
                    </a>
                    <ul class="list navigation-sublist">
                        <li class="navigation-subitem">
                            <a class="link navigation-link" href=".html">M. Twain</a>
                        </li>
                        <li class="navigation-subitem">
                            <a class="link navigation-link" href="">die Memes</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <header class="inner-header">
        <div class="container">
            <h1 class="visually-hidden">Культура</h1>
            <p class="main-title">Этот раздел поможет вам в изучении языка и современной культуры :)</p>
        </div>
    </header>
    <div class="container">
        <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4">
            <iframe src="https://padlet.com/embed/ha8ti8ovr8a3ypzc"
                    height="600px" width="300px"
                    allow="camera;microphone;geolocation"
                    style="width: 100%; height: 600px; display: block; padding: 0; margin: 0">
            </iframe>
        </div>
    </div>
</main>
<footer class="main-footer">
    <div class="container footer-container">
        <p class="footer-text">Es wäre alles.</p>
    </div>
</footer>
</body>
</html>
